.table-info {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: convert-rem(10) convert-rem(15);
    text-align: left;
    border: 1px solid $gray-200;
  }
  > tbody {
    > tr {
      > th {
        width: convert-rem(100);
        text-transform: uppercase;
      }
    }
  }
}

.table-kill {
  width: 100%;
  border-collapse: collapse;

  &__title {
    background-color: $gray-200;
  }

  > tbody {
    > tr {
      > td {
        padding: 0 0 convert-rem(20);
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: convert-rem(10) convert-rem(15);
      text-align: left;
      border: 1px solid $gray-200;
    }

    > tbody {
      > tr {
        > th {
          width: convert-rem(100);
          text-transform: uppercase;
        }
      }
    }
  }
}


.map {
  border: 0;
  width: 100%;
  min-height: convert-rem(360);
}