@mixin button-hover($color) {
  &:hover,
  &:focus {
    color: $color;
  }
}

.btn {
  display: inline-block;
  box-shadow: none;
  border: 0;
  border-radius: convert-rem(3);
  background-color: transparent;
  cursor: pointer;
  padding: convert-rem(10) convert-rem(10);
  font-size: convert-rem(16);
  transition: $transition-base;
  text-align: center;

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &--primary {
    background-color: $blue;
    color: $white;

    @include button-hover($white);
  }

  &--success {
    background-color: $green;
    color: $white;

    @include button-hover($white);
  }

  &--warning {
    background-color: $orange;
    color: $white;

    @include button-hover($white);
  }

  &--outline-success {
    border: 1px solid $green;
    color: $green;
  }

  &--sm {
    padding: convert-rem(5) convert-rem(8);
  }

  &--min-lg {
    min-width: convert-rem(200);
  }

  &--min-sm{
    min-width: convert-rem(120);
  }
}
