$black: #222;
$blue:#00a9df;
$red: #e12f2f;
$purple: #544995;
$yellow: yellow;
$orange: orange;
$white: #fff;
$green: #41b883;

$gray: #999;

$gray-100: #fbfbfb;
$gray-200: #eee;
$gray-300: #e2e2e2;

$color-error: $red;